// ** VARIABLE FOR STYLING WEBSITE
$primary-color: #480ca8;
$primary-color-variant: #4cc9f0;
$secondary-color: #f72585;
$white-color: #ffffff;
$light-color: rgba(#fff, 0.7);
$black-color: #0c031b;
$dark-color: rgba($black-color, 0.7);
$success-color: #54eb72;
$container-lg: 82%;
$container-md: 90%;
$bgSections: #c8dbf7;
$noBlack: #0d031d;
$colorPfooter: #c1c1c1;
$bgBtnGetAppointment : purple;
// ** VARIABLES FOR FILE DIRECTION (RLT & LTR)
// ! CHANGE VALUES VARIABLE WHEN USED FILE LTR
$text-right: right;
// ** VARIABLE FOR STYLING FONT FAMILY
$inclusiveSans : 'Inclusive Sans', sans-serif;
$Tajawal: 'Tajawal', sans-serif;

// ** VARIABLE FOR STYLING MEDIA QUERY
$maxSmall: '(max-width: 767px)';
$maxMedia: '(max-width: 991px)';
$maxLarge: '(max-width: 1999px)';
$minSmall: '(min-width: 768px)';
$minMedia: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';


